::-webkit-scrollbar {
  background: hsl(0, 100%, 36%);
  width: 10px;
  border-radius: 0 5px 0 5px;
}
::-webkit-scrollbar-thumb {
  background: hsl(0, 100%, 31%);
  border-radius: 15px;
}
body{
  overflow-y: hidden;
}
.container-List {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: Arial, sans-serif;
}
ul {
  padding: 0;
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    background-color: hsla(0, 0%, 75%, 0.5);
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-wrap: wrap;
  }
}

.display {
  display: flex;
  gap: 1rem;
  .todo {
    width: 48rem;
    height: 30rem;
    text-align: center;
    padding: 0 1rem;
    border-radius: 10px;
    overflow-y:auto ;
    transition: min-height 1s ease;
    
  }
  .todo.expanded ,
  .done.expanded{
    max-height:18rem;
  }
  .todo {
    background-color: hsl(0, 100%, 36%);
    button{
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        color: white;
        font-weight: bold;
        background-color: hsl(135, 100%, 36%);
        &:hover{
            background-color: hsl(135, 100%, 26%);
            cursor: pointer;
        }
    }
  }
  
}

.input-todo{
    input[type="text"]{
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
    }
    button{
        margin-left: 1rem;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        background-color: hsl(240, 100%, 36%);
        color: white;
        font-weight: bold;
        &:hover{
            background-color: hsl(240, 100%, 26%);
            cursor: pointer;
        }
    }
}
.done {
  width: 15rem;
  height: 30rem;
  text-align: center;
  padding: 0 1rem;
  border-radius: 10px;
  transition: min-height 1s ease;
  overflow-y:auto ;
  background-color: hsl(135, 100%, 36%);
  float: right;
  button{
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      background-color: hsl(0, 100%, 36%);
      color: white;
      font-weight: bold;
      &:hover{
          background-color: hsl(0, 100%, 26%);
          cursor: pointer;
      }
  }
}
.text-wrap{
  text-align: start;
  word-wrap: break-word;
  width: 60%;
  overflow-x: auto;
}
.btn button{
  margin-left:1rem ;
  &.delete-todo{
    background-color:  hsl(35, 100%, 50%);
    &:hover{
      background-color:  hsl(35, 100%, 45%);
    }
  }
}
.header{
  font-size: 3.5rem;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 0;
  padding: 0.5rem 1rem;
  margin:0;
}